# Docker configuration
## NODE
EXPRESS_STATIC_FILES=
NODE_VERSION=
NODE_CONTAINER_NAME=
CONTAINER_SERVICE_NAME=
NODE_PORT=

## MYSQL
MYSQL_VERSION=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DB=
MYSQL_USER=
MYSQL_PASSWD=
MYSQL_USER_DEV=
MYSQL_PASSWD_DEV=


DOMAIN_URL=

#DEV
NODE_ENV=
# sudo apt-get install uuid-runtime
# Random UUID generated with uuidgen -r
COOKIE_UUID_KEY1=
COOKIE_UUID_KEY2=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CALLBACK_URL=

# Slack OAuth
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=