# Docker configuration
## NODE
NODE_VERSION=
NODE_CONTAINER_NAME=
CONTAINER_SERVICE_NAME=
NODE_PORT=
# https://github.com/samtecspg/rasa-tutorials/blob/master/docker-compose.yml#L12
NODE_USER=

## MYSQL
MYSQL_VERSION=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DB=
MYSQL_USER=
MYSQL_PASSWD=
MYSQL_USER_DEV=
MYSQL_PASSWD_DEV=
SQL_DUMP=

## MYSQL TEST
MYSQL_VERSION_TEST=
MYSQL_HOST_TEST=
MYSQL_PORT_TEST=
MYSQL_DB_TEST=
MYSQL_USER_TEST=
MYSQL_PASSWD_TEST=
MYSQL_USER_DEV_TEST=
MYSQL_PASSWD_DEV_TEST=

DOMAIN_URL=

#DEV
NODE_ENV=
ORM_TYPE_OF_DB=
# sudo apt-get install uuid-runtime
# Random UUID generated with uuidgen -r

COOKIE_UUID_KEY2=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CALLBACK_URL=

# Slack OAuth
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=

# Github OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Twitter OAuth
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

LOCALHOST=
MYSQL_TEST_NAME=
COOKIE_UUID_KEY1=
